*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
}


.midSection{
    border: 1px solid white;
    background-color: rgb(59, 12, 47);
    margin-top: 40px;
    width: 400px;
    height: 690px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
.secondsection{
    border: 1px solid white;
    background-color: rgb(3, 3, 3);
    margin-top: 40px;
    width: 600px;
    height: 690px;
    /* border-radius: px; */
    border-top-left-radius: 0;
    background-color: rgba(255, 255, 255, 0.049);
    border-bottom-left-radius: 0;

}


